body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
}

.sidenav {
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(30, 30, 30, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px 0;
  border-radius: 10px;
  z-index: 1;
}

.sidenav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 0 15px;
}

.sidenav a:hover {
  text-decoration: none;
  color: #3b5998;
}
